<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>TraduzAí</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="container mt-5">
    <h1>📄 TraduzAí</h1>
    <p>Envie um arquivo em inglês para traduzir</p>

    <form
      method="POST"
      enctype="multipart/form-data"
      action="{% url 'traduzir' %}"
    >
      {% csrf_token %}
      <input type="file" name="arquivo" class="form-control mb-3" />
      <button type="submit" class="btn btn-primary">Traduzir</button>
    </form>
  </body>
</html>
