{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap"
            rel="stylesheet"
        />
        <link href="{% static 'core/css/style.css' %}" rel="stylesheet" />
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <main class="page-wrapper">{% block content %}{% endblock %}</main>

        <footer>
            Desenvolvido por
            <a href="https://www.arturbomtempo.dev" target="_blank" rel="noopener noreferrer"
                ><strong>Artur Bomtempo</strong></a
            >
        </footer>

        <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>
        <script src="{% static 'core/js/base.js' %}" defer></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
